<header>
  <div class="container">
    <div class="left">
      <div class="img-bg"></div>
      <div class="img-lg">
        <img src="{{ heroLargeImageUrl }}" alt="" />
      </div>
      <div class="img-sm">
        <img src="{{ heroMediumImageUrl }}" alt="" />
      </div>
    </div>
    <div class="right">
      <div class="head">
        <div class="empty"></div>
        <a class="tag">{{ tag }}</a>
      </div>
      <h1>{{ uniqueSellingProposition }}</h1>
      <p>
        {{ subtitle }}
      </p>
      <a href="mailto:colorprint@gmail.com" class="btn-md">Let's Talk</a>
    </div>
  </div>
</header>

<div class="header__frames">
  <div class="header__frame">
    <img src="{{ frameOneUrl }}" alt="Header Frame One" />
  </div>
  <div class="header__frame">
    <img src="{{ frameTwoUrl }}" alt="Header Frame Two" />
  </div>
</div>
<a href="mailto:colorprint@gmail.com" class="contact-btn header__btn">
  <i class="uil uil-arrow-up-right"></i>
  <p>Написать</p>
</a>
