<nav [class.window-scrolled]="isWindowScrolled">
  <div class="container">
    <a href="/" class="nav__logo">
      <span class="logo"><span>Color</span>Print</span>
    </a>
    <ul class="links">
      <li><a href="#">Главное</a></li>
      <li><a href="#about">О нас</a></li>
      <li><a href="#works">Наши работы</a></li>
      <li><a href="#services">Услуги</a></li>
    </ul>
    <ul class="socials">
      <li>
        <a href="{{ socials.instagram }}" target="_blank">
          <i class="uil uil-instagram"></i>
        </a>
      </li>
      <li>
        <a href="{{ socials.telegram }}" target="_blank">
          <i class="uil uil-telegram"></i>
        </a>
      </li>
      <li>
        <a href="{{ socials.whatsapp }}" target="_blank"
          ><i class="uil uil-whatsapp"></i
        ></a>
      </li>
    </ul>
    <button class="toggle-btn" id="toggle-open" mat-fab>
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
    <button class="toggle-btn" id="toggle-close" mat-fab>
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>
</nav>
